body {
    padding: 0 3% 1% 3%;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
    font-size: 1.2em;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    margin-top: 1%;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    list-style: none;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.4em;
    width: 200px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

footer {
    display: inline;
    width: 50%;
    margin: auto 0;
    vertical-align: bottom;
    text-align: center;
    top: 100px;
}

table {
    margin: 0  auto;
    width: 80%;
}
th{
    text-align: center;
}

.tdIndex, .tdUserUpdate {
    /*border: 1px solid black;*/
    width: 50%;
    padding: 5px 25px 5px 25px;
    vertical-align: top;
}

#bgLeft {
    position: absolute;
    background-image: url("../img/bg1.jpg");
    left: 0;
    top: 0;
    width: 19%;
    height: 100%;
    opacity: .7;
    z-index: -1;
}

#bgRight {
    position: absolute;
    background-image: url("../img/bg2.jpg");
    right: 0;
    top: 0;
    width: 19%;
    height: 100%;
    opacity: .7;
    z-index: -1;
}

#logoutBtn {
    position: absolute;
    right:0;
    top: 1%;
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
}

#title {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 5.0em;
    text-shadow: 3px 3px 2px #888;
}

.item {
    border: 1px solid #eee;
}

.alert {
    text-align: center !important;
}

.btn {
    border: 2px double #000;
    box-shadow: 4px 7px 3px #656565;
    color: white;
    background-image: linear-gradient(to bottom, #d6d6d6, #333);
    font-size: 20px;
    text-shadow: #000 1px 1px 0px;
    text-decoration: none;
    width: 150px
}

.btn:hover,
.btn a:hover {
    color: #fff;
    opacity: .8;
    background-image: linear-gradient(to bottom, #333, #d6d6d6);
    text-decoration: none;
}

.btn, .btn a:active {
    text-decoration: none;
    color: #fff;
}

.btn a {
    color: #fff;
}

.w3-content {
    float: left;
}

#mLogin {
    text-align: center;
}

.wrapper {
    width: 63%;
    margin:  0 auto;
    padding: 10px;
    min-height: 600px
}

/* Full-width input fields and buttons*/
.ittAD,
.itpAD {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.btnAD {
    background-color: #4CAF50;
    color: white;
    margin: 8px;
    border: 4px double black;
    cursor: pointer;
    border-radius: 15px;
}

.resultsBox {
    border: 2px solid black;
    vertical-align: middle;
    padding: 7px;
}
#addUser{
    color: #00f;
}

.btn-sm{
    color: white;
    border: 4px double black;
    cursor: pointer;
    border-radius: 15px;
}
/*Modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal.in {
   display:block;
   text-align: center;
}
/*End Modal*/

/*The css for the prediction table*/
#predictions td, #predictions th {
    border: 1px solid #ddd;
    padding: 8px;
    word-break: keep-all;

}
#predictions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #808080;
    color: white;
}