doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1.title= title
    #myTopnav.topnav
      a(href='/') Home
      a(href='/movieSearch') Movie Search
    block content
